.divider{
    width:100%;
    height:1px;
    border:0.5px solid black;
}
.infoContainer{
    border-radius:10px;
    border:2px solid black;
    margin:10px;
}
@media screen and (max-width: $max-phoneQuery){
    .orderContainer{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        overflow-x:scroll;
        border-bottom:1px solid black;
        .itemDetailPurchase{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            width:100%;
            justify-content: center;
            
        }
        span{
            font-size:2em;
        }
    }
    .purchaseContainer{
        display:flex;

        flex-direction:column;
        .userDiv{
            display:flex;
            flex-direction:column;
        }
    }
    .userData{
        width:100%;
    }
    .productData{
        width:100%;
    }
    .only-products{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        height:50%;
    }
}

@media screen and (min-width: $min-notebookQuery) and (max-width: $max-notebookQuery){
    .orderContainer{
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        overflow-x:scroll;
        border-bottom:1px solid black;
        .itemDetailPurchase{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            width:100%;
            justify-content: center;
            
        }
        span{
            font-size:2em;
        }
    }
    .userDiv{
        display:flex;
    }
}
@media screen and (min-width:$min-desktopQuery){ //DESKTOP
    .userDiv{
        display:flex;
        flex-direction:row;
        width:100%;
    }
    .userData{
        margin:40px;
        width:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .productData{
        display:flex;
        flex-wrap:no-wrap;
        flex-direction:column;
        align-items:center;
        width:60%;
        height:100%;
        h1{
            text-align:center;
            font-size:2em;
        }
        .only-products{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            height:50%;
        }
    }
    button{

        margin:auto;
    }
    .itemDetailPurchase{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .orderContainer{
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        overflow-x:scroll;
        .itemDetailPurchase{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            width:100%;
            justify-content: center;
            
        }
        span{
            font-size:2em;
        }
    }

}