.appBar{
    background-color: $mainColor !important;
}

@media screen and (max-width: $max-phoneQuery){ //MOBILE

    .mainDecoEtcetera{
        font-size:10px;
    }
    .formControl{
        width:300px;
    }
}

@media only screen and (min-width: $min-notebookQuery) and (max-width: $max-notebookQuery){ //TABLET - NOTEBOOKS

}

@media screen and (min-width:$min-desktopQuery){ //DESKTOP
    .appBar{
        position:static !important;
        display:flex;
        flex-direction: row;
    
        
        .mainDecoEtcetera{
                font-family: $logoFont;
                font-size:40px;
                font-weight: bold;
                letter-spacing: 4px;
        }
    }
    .toolBar{
        background-color:$mainColor;
        display:flex;
        justify-content: space-between;
    }
}

.drawerList{
    display:flex;
    flex-direction:column;
    gap:30px;
    .drawerLogo{
        border-radius: 200px;
        width: 60px;
        height: 60px;
        margin:20px auto;
        & :hover{
            transition:1s;
            transform:scale(1.1)
        }
    }
}
.drawerBtn{
    text-decoration:none;
}

.btn{
    width:100%;
    height:150px;
    margin:4px;
}

