.appBar{
    position:static !important;
    display:flex;
    flex-direction: row;
    font-family: 'Shadows Into Light', cursive;

    
}


.toolBar{
    background-color:green;
    display:flex;
    justify-content: space-between;

}
.iconButton{
    background-color:rgb(255, 251, 0);
}


