.itemCount{
    width:100%;
    height:100px;
    margin:auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-basis:10px;
    padding:10px;
    margin-bottom:2px;
    grid-template-areas:'stock';

}

.buttons{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.counter{
    font-size: 2em;
}
.stock{
    display:block;
}

@media screen and (max-width:480px){ //MOBILE
    .mainDecoEtcetera{
        font-size:10px;
    }

    
}

@media only screen and (min-width:481px) and (max-width:768px){ //TABLET - NOTEBOOKS

}

@media screen and (min-width:769px){ //DESKTOP

}