

@media screen and (min-width:769px){ //!DESKTOP
    .itemCount{
        width:100%;
        height:100px;
        margin:auto;
        text-align: center;
        display:flex;
        flex-direction: column;
        flex-basis:10px;
        padding:10px;
        margin-bottom:2px;
        grid-template-areas:'stock';
    }
    
    .buttons{
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-evenly;
        align-items:center;
        border:1px solid black;
        border-radius:10px;
        width:100%;
        align-self:center;
        button{
            margin:5px;
            font-size:1em;
        }
    }
    .counter{
        font-size: 2em;
    }
    
    .stock{
        display:flex;
        align-items:center;
        justify-content:space-around;
        span{
            margin:10px;
        }
    }
}